In [1]:
#List and its default functions.

lst=["Vishal",100,40,77,"School"]
lst

['Vishal', 100, 40, 77, 'School']

In [3]:
lst.index(40)

2

In [5]:
lst.append("CC")
lst.append("CC")
lst

['Vishal', 100, 40, 77, 'School', 'CC', 'CC']

In [6]:
lst.remove("CC")
lst

['Vishal', 100, 40, 77, 'School', 'CC']

In [16]:
lst.extend("GO")
lst

['Vishal', 100, 40, 77, 'School', 'CC', 'G', 'O']

In [17]:
lst.pop(7)
lst

['Vishal', 100, 40, 77, 'School', 'CC', 'G']

In [18]:
lst.reverse()
lst

['G', 'CC', 'School', 77, 40, 100, 'Vishal']

In [19]:
lst.reverse()
lst

['Vishal', 100, 40, 77, 'School', 'CC', 'G']

# Dictionary 

Dictionary and its default functions.

In [20]:
dct = {"name":"Viraj", "age":"30",
       "number":123456,"email":"v@gmail.com"}
dct

{'name': 'Viraj', 'age': '30', 'number': 123456, 'email': 'v@gmail.com'}

In [26]:
dct.get('age')

'30'

In [27]:
dct.get("name")

'Viraj'

In [28]:
dct.items()

dict_items([('name', 'Viraj'), ('age', '30'), ('number', 123456), ('email', 'v@gmail.com')])

In [29]:
dct.keys()

dict_keys(['name', 'age', 'number', 'email'])

In [31]:
dct.pop("name")

'Viraj'

In [32]:
dct

{'age': '30', 'number': 123456, 'email': 'v@gmail.com'}

In [33]:
dct["School"]="Engg"

In [34]:
dct

{'age': '30', 'number': 123456, 'email': 'v@gmail.com', 'School': 'Engg'}

In [35]:
type(dct)

dict

# Set
Sets and its default functions.

In [36]:
st1={1,2,3,4,5,"vishal","viren",89}
st2={2,5,7,"vishal"}
st2

{2, 5, 7, 'vishal'}

In [37]:
st1

{1, 2, 3, 4, 5, 89, 'viren', 'vishal'}

In [38]:
st2.add("school")
st2

{2, 5, 7, 'school', 'vishal'}

In [39]:
st3=st1.difference(st2)
print(st3)

{1, 3, 4, 'viren', 89}

In [42]:
st4=st2.intersection(st1)
print(st4)

{'vishal', 2, 5}

In [44]:
st5=st1.union(st2)
print(st5)

{89, 1, 2, 3, 4, 5, 7, 'school', 'viren', 'vishal'}

In [46]:
st1.issubset(st2)

False

In [47]:
st2.issubset(st1)

False

In [49]:
st1.pop()
st1

{1, 2, 3, 4, 5, 'viren', 'vishal'}

In [50]:
st2.pop()
st2

{5, 7, 'school', 'vishal'}

# tuple
Tuple and explore default methods.

In [51]:
tups=("Vishal","sai","school","Mumbai")
tups

('Vishal', 'sai', 'school', 'Mumbai')

In [54]:
x=tups.count("Mumbai")
print(x)

1

In [55]:
y=tups.index("school")
print(y)

2

# String
Strings and explore default methods

In [56]:
str="hello to my country"
str

'hello to my country'

In [57]:
sp=str.capitalize()
print(sp)

Hello to my country

In [58]:
sr=str.count("my")
print(sr)

1

In [59]:
sw=str.endswith(".")
print(sw)

False

In [60]:
sb=str.find("to")
print(sb)

6

In [61]:
p=str.islower()
print(p)

True

In [62]:
k=str.format()
print(k)

hello to my country